body{
    font-family: Meiryo;
}
    

/*header*/

header{
    background-image:url(../img/mainvisual.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh ;   
    width: 100vw; 
    background-position: center;
    margin-bottom: 80px;
}
.header-title{
   padding-right: 30px;
   padding-top: 30px;
   float: right;
}

/*main*/

#magazine{
    text-align: center;
}
.wrapper{
    max-width: 1200px;
    padding: 0 5%;
}

h2{
   font-size: 24px; 
   font-weight: bold;
   font-family: Arial;
   color: #24292E;
}
p{
    font-size: 14px;
    color: #24292E;
    line-height: 17px;
}
.section-title{
    margin-bottom:23px ;
}
.magazine-contents{
    display: flex;
    justify-content: space-between;
    
}
.magazine-content{
    width: 49%;
    position: relative;
}
.magazine-content img{
    max-width: 100%;
}
.text{
    max-width: 290px;
    margin: 0 auto;
    background-color:  rgba(0,0,0,0.5);
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding: 15px 0px;
}
.text-title{
    color: #FFFFFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 5px;
}
.magazine-content p{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    line-height: 17px;
}