body{
    font-family: Meiryo;
}
    

/*header*/

header{
    background-image:url(mainvisual.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh ;   
    background-position: center top;
    margin-bottom: 80px;
    position: relative;
}
.header-title{
   padding-right: 30px;
   padding-top: 30px;
   float: right;
}

/*main*/
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5%;
    box-sizing: border-box
  }

#magazine{
    text-align: center;
    
}


h2{
   font-size: 24px; 
   font-weight: bold;
   font-family: Arial;
   color: #24292E;
   line-height: 28px;
}

.title-text{
    font-weight: 550;
    font-size: 14px;
    color: #24292E;
    line-height: 20px;
    font-family: Meiryo;
}

.magazine-contents{
    margin-top: 40px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
 
}
.section-title{
    margin-bottom:21px ;
}

.magazine-content{
    width: 49%;
    position: relative;
    
}
.magazine-content img{
    max-width: 100%;}

.text{
    max-width: 290px;
    margin: 0 auto;
    background-color:  rgba(0,0,0,0.5);
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    padding: 15px 0px;
}
.text .text-title{
    color: #FFFFFF;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 5px;
    line-height: 23px;
}
.magazine-content p{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    line-height: 20px;
    font-size:14px ;    
}
.magazine-content:hover{
opacity: 0.7;
}

/*fashon*/

#fashion{
    text-align: center;
    background-image:url(../img/fashion.jpg) ;
    background-size: cover;
    background-repeat: no-repeat;
    height:520px;   
    background-position: center top;
    margin-bottom: 80px;
    
}
.fashion-contents h2{
    padding-top: 60px;
}
.btn{
    border:1px solid #2A2A2A; 
    padding: 16px 36px;
    margin-top: 30px;
    display: inline-block;
    font-size: 11px;
    text-decoration: none;
    color: #24292E;
    font-family: Meiryo;
}
.btn:hover{
    opacity: 0.7;
    }

    /*catalog-antique*/

.catalog-antique {
    background-color: #f5f5f5;
    padding: 60px 0;
    text-align: center;
    width: 100%;
      }    
.catalog-antique .catalog-title{
    margin-bottom: 40px;
}    
.catalog-antique .catalog-contents{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
.catalog-antique .item{
    width: 48%;
    text-align: center;
}
.catalog-antique .item img{
    width: 100%;
}
.catalog-antique .item p{
    margin-bottom: 30px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
}

/*footer*/
footer{
    background-color: #333333;
    width: 100%;
    
}

.footer-contents{
    
    padding-top: 100px ;
    padding-bottom: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
}
.content{
    width: 33%;
    color: #FFFFFF;
    
}
ul{
    list-style: none;
    font-size: 12px;
    line-height: 24px;
}
.content .title{
    font-family: Arial;
    font-weight: bold;
    margin-bottom: 14px;
}
.footer-text{
    font-size: 12px;
    line-height: 24px;
}
.copyright{
    text-align: center;
    font-size: 11px;
    padding-top: 30px;
    margin-bottom: 30px;
    color: #24292E;
    font-family: meiryo;
    background-color: #FFFFFF;
    
}

.footer-contents .content img:hover{
    opacity: 0.7;
    }

/*レスポンシブ*/

@media (max-width:896px){
    .magazine-contents{flex-direction: column}
    .magazine-content{
        width: 100%;
        margin-bottom:30px ;
    }
    .magazine-content:last-child{margin-bottom: 0;}
    .catalog-contents{flex-direction: column}
    .catalog-antique .item{width: 100%;
        padding-bottom: 60px; }
        .catalog-antique .item:last-child{padding-bottom: 0px;}    
    .catalog-antique{
        padding: 30px 0px;
    }
    .footer-contents{flex-direction: column   }
    .content{width: 100%;}
    .content:first-child{
        text-align: center;
        margin-bottom: 37px;
    }
    .footer-contents{
        padding-top:30px ;
        padding-bottom: 30px;
    }
    
    .content{margin-bottom: 30px;   }
}
